.slider {
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
}

.range-slider {
  width: 300px;
  text-align: center;
  position: relative;
  padding-bottom: 20px;
}

input[type="range"] {
  -webkit-appearance: none;
  border: 1px solid white;
  width: 300px;
  position: absolute;
  left: 0;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background-color: #1991eb;
  border: none;
  border-radius: 3px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #1991eb;
  margin-top: -6px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"] {
  background-color: #1991eb;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #1991eb;
}

.mob_academy_filter_value {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rangeValues-1 {
  margin-top: 1.5rem;
  color: #505050;
  font-family: DM Sans;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 600;
}
.rangeValues-2 {
  margin-top: 1.5rem;
  color: #222;
  font-family: DM Sans;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 600;
}
